.navbar, .navbar-inverse {
    border-radius:0px;
}

.logo {
    width:25px;
    height:25px;
    text-align:center;
    vertical-align:middle
}

.centered {
    text-align:center;
}

.vertical-middle {
    vertical-align: middle;
}

.page-header {
    margin-top:0px;
}

.jumbotronLogin {
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
}

.timerJumbotron, .chatJumbotron {
    height:calc((100vh - 150px) / 2);
    max-height:800px;
    padding:25px;
    overflow-y:scroll;
    border-radius:5px;
}

.resultsJumbotron {
    height:calc((100vh - 150px) / 2);
    max-height:800px;
    padding:25px;
    overflow-y:scroll;
    border-radius:5px;
}

#scramble {
    font-size:16pt;
    margin:5px;
}

#timer {
    font-size:69pt;
    margin:5px;
}