<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap CSS Theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- jQuery -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.13/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
  <!-- Local -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/contest.js"></script>
  <!-- Title -->
  <link rel="shortcut icon" type="image/x-icon" href="images/cubeLogo.png"/>
  <title>Cubingj - Contest</title>
</head>
<body ng-app="cubingjApp" ng-controller="contestController" ng-keydown="keydown($event)" ng-keyup="keyup($event)">
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" tabindex="-1"><img class="logo" alt="NU Cubing" src="/images/cubeLogo.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/" tabindex="-1">Home</a></li>
        <li><a href="/contest" tabindex="-1">Contest</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth" tabindex="-1">{{authStatus}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6">
    <div class="jumbotron timerJumbotron centered">
      <p id="scramble">{{scramble}}</p>
      <p id="timer" ng-style="timerStyle">{{timer_display}}</p>
      <div class="row">
        <div class="result-row col-lg-4 col-md-6 col-sm-4">
          <div class="input-group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-success" tabindex="-1" ng-click=""><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" class="btn btn-warning" tabindex="-1" ng-click=""><span class="glyphicon glyphicon-plus"></span></button>
              <button type="button" class="btn btn-danger" tabindex="-1" ng-click=""><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </div>
        <div class="result-row col-lg-6 col-md-4 col-sm-6">
          <input type="text" class="form-control" max-length="69" ng-focus="isTyping=1" ng-blur="isTyping=0">
        </div>
        <div class="result-row col-xs-2">
          <button class="btn btn-primary" ng-click="">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="chatJumbotron">
      <div class="col-md-6">
        <table class="table table-condensed table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th class="centered">Active Users</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.firstName}} {{user.lastName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-condensed table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th class="centered">Times</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="solve in solves">
            <td>{{solve.solveTime}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="resultsJumbotron">
      <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="centered">#</th>
          <th class="centered" ng-repeat="user in results[0]">{{user.firstName}} {{user.lastName}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results">
          <td class="centered">{{results.indexOf(result)}}</td>
          <td ng-repeat="solve in result">{{solve.time}} {{solve.penalty}} {{solve.comment}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
